@using TravelTripProje.Models.Sınıflar;
@model List<Blog>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}


<!DOCTYPE HTML>
<html>
<body>     
    <div class="header-banner">
        <div class="wrap">
            <div class="banner">
                <div class="indent">
                    <h2 class="indent-left margin-bot">Tatil & Seyahat Bloğuma Hoş geldiniz</h2>
                    <div class="banner-left">
                        <div class="con-text">
                            <div class="grid1-img">
                                <img src="~/web/images/glass.png" alt="">
                            </div>
                            <div class="grid1-desc">
                                <p>Restaurantlar</p>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="con-text">
                            <div class="grid1-img">
                                <img src="~/web/images/flight.png" alt="">
                            </div>
                            <div class="grid1-desc">
                                <p>Ucuşlar</p>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="con-text">
                            <div class="grid1-img">
                                <img src="~/web/images/group.png" alt="">
                            </div>
                            <div class="grid1-desc">
                                <p>Yapılacak Şeyler</p>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="con-text">
                            <div class="grid1-img">
                                <img src="~/web/images/key.png" alt="">
                            </div>
                            <div class="grid1-desc">
                                <p>Araba Kiralama</p>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="header_bottom_right_images">

                        <div class="slider" style="width:650px; height:410px; background-size:cover; background-position:center">
                            <ul class="rslides" id="slider1">
                                @foreach (var x in Model)
                                {
                                    <li><img src="~/web2/images/@x.BlogImage" alt=""></li>
                                }

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class"content">
        <div class="wrap">
            <div class="wrapper">
                <div class="con-top">
                    <h3>Tatil Seyahat Bloğuma Hoşgeldiniz!</h3>
                    <p>Bu projeyi Mayıs 2023 tarihinde başlattm Haziran 20 tarihinde
                    ana sayfa düzenlemelerine getirdik. Gezi Gördüğüm yerleri sizlerle paylaşama için kodlamasını
                    tamamen kendim yaptığım mvc5 üzerine kurulu dinamik bir web projesi geliştirdik.
                    Hem Türkiyeden hemde yurt dışından gezip gördüğüm yerleri blog yazılrı olarak sizlerle paylaşma
                    niyetindeyim. Umuyorumki yazdıklarımı beğenirsiniz, keyifli okumalar, sağlıklı günler....</p>
                </div>
                @Html.Action("Partil1", "Default")
                <div class="grids">
                    <div class="box1">
                       @Html.Action("Partil3","Default")
                       @Html.Action("Partil4","Default")
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>


