@using TravelTripProje.Models.Sınıflar
@model List<Blog>
@*<div class="padding1">
    <h4>En Beğendiğim Yerler</h4>
    <div class="box-left">
        @foreach (var x in Model)
        {

            <div class="bot-img">
                <img src="~/web2/images/@x.BlogImage" style="width:572px; height:90px;" alt="" />
            </div>
            <div class="bot-desc">
                <p>@x.Aciklama.Substring(0, 50)</p>
            </div>
            <div class="clear"></div>


        }

    </div>
    
    @Html.Action("Partil5", "Default")
</div>*@

<div class="padding1">
    <h4>Our Best Places</h4>
    <div class="box-left">
        @foreach (var x in Model)
        {
            <div class="bot-img">
                <img src="~/web2/images/@x.BlogImage" style="width:150px; height:90px;" alt="" />
            </div>
            <div class="bot-desc">
                <p>@x.Aciklama.Substring(0,50)</p>
            </div>
            <div class="clear"></div>
        }

    </div>
   @Html.Action("Partil5","Default")
</div>