@using TravelTripProje.Models.Sınıflar
@model List<Blog>
<div class="container">
    <div class="row">
        @foreach(var x in Model)
            {
        <div class="col-sm-4">
            <div class="bot-left">
                <img src="~/web2/images/@x.BlogImage" alt="" />
            </div>
            <div class="left-text">
                <h4>@x.Baslik</h4>
                <span class="doller">@x.Tarih.ToString("dd/MM/yyyy")</span>
                <p>@x.Aciklama.Substring(0,80)</p>
                <p><a href="/Blog/BlogDetay/@x.ID"><span class="read">Devamanı Oku >></span></a></p>
            </div>
        </div>
            }
        
        
        
       
    </div>
</div>


